@font-face {
  font-family: "Main";
  src: url(/fonts/font-manrope.ttf);
}

*, *::before, *::after {
  font-family: "Main";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
}

body.dark {
  background-color: #2d353e;
}

::selection {
  background-color: #34cee2 !important;
  color: black;
}